################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DrFalamarzi/.vs
/DrFalamarzi/bin
/DrFalamarzi/obj
